@import '/src/styles.scss';

.projects-container {
	background: $gray;

	.skill {
		color: $white;
		padding: 6px;
		margin: 0 10px;
		background: $grayer;
		font-weight: 600;
		border: 2px solid $grayer;
		transition: all 0.1s ease-in;

		&:hover {
			color: $bittersweet;
			cursor: pointer;
		}

		&.selected {
			color: $bittersweet;
			border: 2px solid $bittersweet;
		}

		&.disabled {
			color: $silver;
			background: $dark-gray;
			border: 2px solid $dark-gray;
		}
	}
}

.project-container {
  .project {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
      url('/assets/images/placeholder.jpg');
    height: 18rem;
    padding: 1rem;
    
    .links {
      float: right;
  
      .link {
        display: inline-block;
        background: $grayer;
        padding: 0.2rem 0.4rem;
        margin-left: 0.5rem;
  
        &:hover {
          cursor: pointer;
          background: $bittersweet;
          transition: all 0.2s ease-in;
        }
        
        span {
          line-height: 1.6rem;
          float: right;
          color: $white;
          font-size: 0.9rem;
          font-weight: 600;
          padding-left: 0.3rem;
        }
  
        img {
          width: 1.4rem;
        }
      }
    }
  
    .project-content {
      position: absolute;
      bottom: 2.5rem;
      width: 80%;
  
      h3 {
        font-size: 1.6rem;
        margin: 0;
      }
  
      p {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0;
        padding: 0.4rem 0;
      }
  
      .skill-nc {
        color: $white;
        font-size: 0.8rem;
        padding: 4px;
        margin: 0 5px;
        background: $grayer;
        font-weight: 600;
        border: 2px solid $grayer;
        transition: all 0.2s ease-in;
  
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

	&:nth-of-type(odd) {
		padding-left: 3rem !important;
	}
	&:nth-of-type(even) {
		padding-right: 3rem !important;
	}
}