<div class="profile-container b-rad w-50 mx-auto pb-4">
  <img src="../../../assets/images/0.jpeg" class="profile-photo d-block mx-auto">
  <h1 class="name">Rron Kurtishi</h1>
  <h6 class="position">Front-End Developer</h6>
  <div class="tech-container text-center">
      <img src="../../../assets/images/sass.svg" height="50px" class="m-2" alt="">
      <img src="../../../assets/images/js.svg" height="55px" class="m-2" alt="">
      <img src="../../../assets/images/ts.svg" height="55px" class="m-2" alt="">
      <img src="../../../assets/images/angular.svg" height="50px" class="m-2" alt="">
  </div>
  <div class="experience pt-4 pb-2">
    <h5 class="text-center">Front-End Developer @ Dr Web</h5>
    <h6 class="position">July 2020 - Current</h6>
  </div>
  <hr>
  <div class="experience py-2">
    <h5 class="text-center">Front-End Developer @ Vos Lieu</h5>
    <h6 class="position">September 2018 - December 2018</h6>
  </div>
  <hr>
  <div class="experience py-2">
    <h5 class="text-center">Bachelor of Business Informatics @ South East European University</h5>
    <h6 class="position">September 2015 - June 2019</h6>
  </div>
</div>