@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
	font-family: Lato, sans-serif;
	background: rgb(10, 10, 15);
	cursor: default;
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	 -khtml-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}

.component {
	background: rgb(10, 10, 15);
	padding: 20px 0;
}
// VARIABLES

$space-cadet: #283044;
$bittersweet: #f87060;
$gainsboro: #ebebeb;
$marigold: #f0a202;
$zomp: #2ca58d;

$dark-gray: rgb(10, 10, 15);
$gray: rgb(18, 18, 22);
$grayer: rgb(30, 30, 36);
$white: rgb(250, 250, 255);
$silver: rgb(190, 190, 180);
$accent: rgb(88, 164, 176);
$light-gray: rgb(150, 150, 158);
$gray-600: rgb(100, 100, 105);
$gray-500: rgb(65, 65, 70);
// GENERAL

h1, h2, h3, h4, h5, p {
	font-weight: 700;
	color: $white;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 22px;
	font-weight: 500;
}

h6 {
	font-size: 18px;
	color: $light-gray;
}

// ATOMIC

.b-rad {
	border-radius: 6px;
}

.text-main {
	color: $white;
}

.bg-main {
	background: $dark-gray;
}

.bg-component {
	background: $gray;
}

.text-secondary {
	color: $silver;
}

.accent {
	color: $accent;
}

// THEMES

$themes: (
	"dark": (
		"colors": (
			
		)));
